{{ define "index" }}
{{ template "header" }}
    <main class="px-3">
        <h1>Главная страница</h1>
        <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus animi architecto illum iusto labore magni
        nemo repellendus voluptate? Ad cupiditate id magni,
        modi nisi obcaecati provident ratione repudiandae sint veniam.
        </p>

        {{ range . }}
        <div class="alert alert-danger">
            <h2>{{ .Title }}</h2>
            <p>{{ .Anons }}</p>
            <a href="/post/{{ .Id }}">Читать далее</a>
        </div>
        {{ else }}
        <p>Статей нет!</p>
        {{ end }}

        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold ">Узнать больше</a>
        </p>
    </main>
{{ template "footer" }}
{{ end }}